body{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
}
.win1st{
    position: absolute;
    right: 2%;
    top: 2%;
    border: solid;
    width: 600px;
}
.win2nd{
    position: absolute;
    border: solid;
    margin: 0 10px;
    width: 580px;
}
.win3rd{
    border: solid;
    margin: 10px 10px;
    width: 560px;
}
/* gameBoard */
#coreGame{
    height: 650px;
}
#gameArea{
    height: 445px;
    top: 10px;
}
#inputArea{
    height: 165px;
    bottom: 10px;
}
#showTrans{
    height: 60px;
    margin-bottom: 0;
}
#inputWord{
    height: 60px;
}
.words{
    position: absolute;
    border: solid;
    background-color: #FFFFFF;
    opacity: 1;
    top: 10px;
    left: 0;

}
#gameOver{
    top: 100px;
}
#overTitle{
    height: 90px;
}
#showScore{
    height: 30px;
}
#returnButton{
    height: 60px;
}
/* mainBoard */
#mainBoard{
    height: 650px;
}
#showEx{
    height: 250px;
    top: 10px;
}
#showAllScore{
    height: 165px;
    bottom: 10px;
}
#showLastScore, #showHistoryScore{
    height: 60px;
}
#playButton{
    top: 305px;
    height: 120px;
}