*{
    font-family: sans-serif;
}
p{
    user-select: none;
}
body{
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}
#backgroundBoard{
    background-image: url("../pics/backgrounds/1.png");
    position: relative;
    height: 695px;
    width: 1080px;
    padding: 0;
}
.win1st{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 600px;
    border-radius: 7px;
    background-color: #F5F5F6;
    box-shadow:0 0 20px 4px #0000004d;
}
.win2nd{
    position: absolute;
    margin: 0 10px;
    width: 580px;
    text-align: center;
}
.win3rd{
    border-bottom: solid;
    border-color: #BDBDBD;
    border-width: 1px;
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
    text-align: center;
    color: #000000b3;
}
._win3rd{
    border-bottom: solid;
    border-color: #BDBDBD;
    border-width: 1px;
    width: 100%;
    padding: 10px 0;
    color: #000000b3;
}
.buttons{
    display: inline-block;
    margin: 10px 10px;
    background-color: #03a9f4;
    user-select: none;
    border-radius: 50px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    box-shadow: 0 0 9px 1px #424242b0;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all;
    transition-duration: 0.5s;
}
.buttons:hover{
    box-shadow: 0 0 16px 0px #424242b0;
}
/* gameBoard */
#coreGame{
    height: 650px;
}
#gameArea{
    height: 445px;
    top: 10px;
}
#inputArea{
    height: 165px;
    bottom: 10px;
}
#showTrans{
    height: 60px;
    margin-bottom: 0;
    line-height: 60px;
}
#inputWord{
    height: 60px;
    margin: 15px 0;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #e4e4e4;
    box-shadow: inset 0 0 9px 0px #00000070;
}
.words{
    position: absolute;
    background-color: #00443d;
    color: #ffffff;
    padding: 7px;
    border-radius: 20px;
    font-size: 20px;
}
#gameOver{
    top: 100px;
}
#overTitle{
    height: 90px;
    line-height: 90px;
    font-size: 50px;
}
#showScore{
    height: 30px;
    line-height: 30px;
}
#returnButton{
    margin: 20px auto;
    width: 180px;
    height: 50px;
    line-height: 50px;
}
#returnButton:hover{
    width: 200px;
}
/* mainBoard */
#mainBoard{
    height: 650px;
    background-image: url("../pics/backgrounds/front.png");
    background-size: 1px 365px;
    background-repeat: repeat-x;
}
#front{
    margin: 35px 70px;
}
.secondaryWord{
    margin: 0;
}
.primaryWord{
    margin: 0;
    font-size: 23px;
    text-align: center;
}
.primaryWord.colorDark{
    color: #ffffffe3;
}
.secondaryWord.colorDark{
    color: #ffffff9e;
}
.secondaryWord.colorLight{
    color: #0000009e;
}
.primaryWord.colorLight{
    color: #000000b3;
}
#eventIcons{
    text-align: center;
    user-select: none;
}
.eventsIcon{
    display: inline-block;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    line-height: 45px;
    background-color: #F5F5F6;
    box-shadow: inset 0 0 7px 0;
    cursor: default;
    transition: all;
    transition-duration: 0.5s;
}
.eventsIcon:hover{
    box-shadow: inset 0 0 10px 1px;
    width: 70px;
}
#showAllScore{
    height: 165px;
    bottom: 10px;
}
#mainBoardButtons{
    text-align: center;
    margin: 50px 0;
}
#playButton{
    height: 50px;
    width: 150px;
    line-height: 50px;
}
#playButton:hover{
    width: 200px;
}
#helpButton, #importButton{
    height: 50px;
    width: 50px;
    line-height: 50px;
}
#helpButton:hover, #importButton:hover{
    width: 120px;
}
/* show Kamome */
#showBody, #showBodyBack{
    position: absolute;
    z-index: 998;
    height: 550px;
    bottom: -20px;
    left: 45px;
}
#showFace, #showFaceBack{
    position: absolute;
    z-index: 999;
}
#showSaid{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 80px;
    width: 340px;
    border-radius: 60px;
    background-color: #ffffffdd;
    color: #000000cf;
    text-align: center;
    font-size: 16.5px;
    line-height: 1.5em;
    padding: 15px 25px;
    z-index: 99999;
}
#showSaid input{
    border: none;
    border-radius: 10px;
    height: 1.5em;
    outline: none;
}
#showSaid button{
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    height: 1.75em;
    margin: 0 1em;
    transition: all;
    transition-duration: 0.5s;
}
#showSaid button:hover{
    border: solid;
    border-width: 1px;
    border-color: #000000; 
}
.Kamome{
    position: absolute;
    height: 650px;
    width: 400px;
    right: 20px;
    bottom: 20px;
}
/* show event */
#showEvent{
    position: absolute;
    bottom: 4%;
    left: 4%;
    height: 160px;
    width: 700px;
    border-radius: 150px;
    background-color: #ffffffdd;
    font-size: 25px;
    padding: 30px 90px;
    z-index: 9999;
    box-shadow: 0 0 13px #000000a6;
    color: #000000cf;
}
#speaker{
    margin: 0;
    color: #0000009e;
    padding: 6px;
    border-bottom: solid;
    border-color: #BDBDBD;
    border-width: 2px;
    height: 33px;
}
#speakWords{
    margin: 0;
    color: #000000b3;
    font-size: 27px;
    line-height: 1.5em;
}